* {
    margin: 0;
    padding: 0;
}
#app {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
    background-color: #eee;
}

.box {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
}

.admin-box {
    width: 60vw;
    max-width: 960px;
    margin: 0 auto;
}
.logout-btn {
    position: absolute;
    right: 16px;
}

.handle-box {
    padding: 10px;
    margin-bottom: 10px;
    text-align: right;
}

h3 {
    margin-bottom: 20px;
}